@model IEnumerable<Student>
@{
    ViewData["Title"] = "Upload Student Excel";
}

<form asp-controller="Home" asp-action="Index" method="post" enctype="multipart/form-data">
    <input type="file" name="postedFile" />
    <hr/>
    <button type="submit">Upload</button>
</form>
    
 @if(Model.Count()>0)
 {
<hr/>
<table cellpadding="0" cellspacing="0" border="1">
<tr><td>Id</td>
<td>Student Name</td>
<td>Father name</td>
<td>Mother Name</td>
<td>DOB</td>
<td>Mobile Number</td></tr>
@foreach(Student student in Model)
{
<tr>
    <td>@student.Id</td>
    <td>@student.stuName</td>
<td>@student.fName</td>
<td>@student.Mname</td>
<td>@student.DOB</td>
<td>@student.Mnumber</td>

</tr>
}
</table>

 }